html {
	background-color: white;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	filter: blur(1px);
}

.navbar {
	padding: 0;
	position: absolute;
	top: 50px;
	margin: 0;
	left: 0;
	width: 100%;
}
.navbar ul {
	list-style-type: none;
	margin: auto;
	width: 60%;
}
.navbar ul li {
	display: inline;
	float: left;
	width: 20%;
}
.navbar ul li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.navbar ul li a:hover {
	text-decoration: underline;
	text-decoration-color: black;
}

.header {
	margin: 3rem auto;
	padding: 0 1rem;
	max-width: 950px;
}

.content {
	margin: 3rem auto;
	padding: 0 1rem;
	max-width: 650px;
}

.footer {
	margin: 3rem auto;
	padding: 0 1rem;
	max-width: 650px;
}
.footer hr {
	border: 1px solid grey;
	border-bottom-width: 0px;
}
.footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.footer ul li {
	display: inline;
	float: left;
	width: 33%;
}
.footer ul li p {
	display: block;
	padding: 0px;
	margin: 0px;
	color: grey;
	font-size: smaller;
}
.footer ul li a {
	color: grey;
}

.filters input {
	left: 0px;
	height: 16px;
	width: 79%;
}
.filters select {
	float: right;
	width: 19%;
	height: 22px;
}

.listfeature {
	max-height: 100px;
}

.listinfo {
	text-align: left;
	margin: 0;
	font-size: small;
	font-weight: lighter;
}
.listinfo span {
	float: right;
}
.listtext {
	font-weight: bold;
	font-size: large;
	text-align: left;
	margin: 0;
}
.listlink {
	text-decoration: none;
}
a.listlink:link {
	color: black;
}
a.listlink:visited {
	color: purple;
}
a.listlink:hover {
	color: blue;
}
a.listlink:active {
	color: blue;
}

ul.nobullets {
	list-style-type: none;
	padding: 0px;
}

.imagecaption {
	text-align: center;
	font-size: smaller;
	color: grey;
	margin-top: 0px;
	font-style: italic;
}