html {
	background-color: white;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	filter: blur(1px);
}

.listfeature {
	max-height: 100px;
}

.listtext {
	text-align: left;
	margin: 0;
}
.listtext span {
	float: right;
}
.listlink {
	text-decoration: none;
}
a.listlink:link {
	color: black;
}
a.listlink:visited {
	color: purple;
}
a.listlink:hover {
	color: blue;
}
a.listlink:active {
	color: blue;
}

.filters input {
	left: 0px;
	height: 16px;
	max-width: 50%;
}
.filters select {
	height: 22px;
}

.header {
	margin: 3rem auto;
	padding: 0 1rem;
	max-width: 950px;
}

.content {
	margin: 3rem auto;
	padding: 0 1rem;
	max-width: 650px;
}